# Binaries for programs and pluings

*.exe
*.exe~
*.dll
*.so

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

proyectosgo.rar
proyectosgo2.rar